.App {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: 'linear-gradient(to right, #e78946, #d64a2b)',

}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
li {
  color: #fff;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  /* color: #F7BB37; */
  /* background-color: #DC6035; */
  background-color: transparent;
}
/* a:hover {
  color: #9932cc;
} */





